*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;
    background:#0f172a;
    color:white;

}

header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 8%;

}

.logo{

    font-size:30px;
    font-weight:700;

}

.logo span{

    color:#3b82f6;

}

nav a{

    color:white;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;

}

nav a:hover{

    color:#3b82f6;

}

.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px 8%;

    min-height:85vh;

}

.hero-text{

    width:55%;

}

.intro{

    color:#3b82f6;
    font-size:20px;

}

.hero h1{

    font-size:58px;
    margin-top:10px;

}

.hero h2{

    font-size:30px;
    color:#94a3b8;
    margin:15px 0;

}

.description{

    line-height:1.8;
    color:#cbd5e1;
    margin-top:20px;
    font-size:17px;

}

.buttons{

    margin-top:35px;

}

.btn-primary{

    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:14px 30px;
    border-radius:8px;
    margin-right:15px;

}

.btn-secondary{

    border:2px solid #2563eb;
    color:white;
    text-decoration:none;
    padding:14px 30px;
    border-radius:8px;

}

.social{

    margin-top:40px;

}

.social a{

    color:#3b82f6;
    margin-right:25px;
    text-decoration:none;
    font-weight:600;

}

.hero-image{

    width:35%;
    display:flex;
    justify-content:center;

}

.hero-image img{

    width:330px;
    height:330px;

    border-radius:50%;

    border:5px solid #2563eb;

    object-fit:cover;

}
